@charset "UTF-8";
body {
    background-color: #888888;
    color: rgba(0, 0, 0, 1);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*Interface*/

div#interface {
    padding: 20px;
    margin: -20px auto 0px auto;
    background-color: #dedede;
    width: 1200px;
}


/*Cabeçalho*/

header#form-header {
    padding: 10px;
    border-bottom: 1px black solid;
}


/*Rodapé*/

footer#form-footer {
    padding: 10px;
    border-top: 1px black solid;
}

footer#form-footer p {
    text-align: center;
}